<h1>Hello World Express and Giphy TV Nice</h1>
<div id="_giphy_tv" style="width: 800px"></div>
<script>
var _giphy_tv_tag="the-simpsons";
var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;
g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/tv.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);
</script>